<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <typeAlias type="com.spring.study.model.BoardVo" alias="BoardVo"/>
        <typeAlias type="com.spring.study.model.ReplyVo" alias="ReplyVo"/>
        <typeAlias type="com.spring.study.model.CommentVo" alias="CommentVo"/>
    </typeAliases>


    <mappers>
        <mapper resource="mapper/BoardMapper.xml"/>
    </mappers>


</configuration>